.notification {
    width: auto;
    padding: 12px 16px;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 10px;
    font-size: 20px;
}

.notification.success {
    background-color: rgb(231, 254, 231);
    border-color: green;
    color: darkgreen;
}

.notification.error {
    background-color: rgb(239, 95, 95);
    border-color: rgb(150, 27, 2);
    color: rgb(78, 1, 1);
}